header.main-header
    nav.navbar.navbar-inverse.hight( role="navigation" ).dark
        .navbar-header.header-nav__menu.col-md-3.col-sm-4
            button.navbar-toggle.collapsed(data-target="#navbar-inverse", data-toggle="collapse", type="button", aria-controls="navbar", aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar 
                span.icon-bar 
                span.icon-bar
            //a.navbar-brand(href="#")
            img(src="static/img/logo.png", alt="Fix-IT-Service logo").navbar-brand
            .phone-nav
                <a href="tel:+7 (4012) 52 44 07"> +7 (4012) 52 44 07 </a>

        #navbar-inverse.collapse.navbar-collapse
            ul.nav.navbar-nav.header-nav__nav.col-md-5.col-sm-7
                li.active1: a( href="#") Домашняя
                li: a( href="#advantages" ) Приемущества
                li: a( href="#forBusiness" ) Ремонт для бизнеса
                li: a( href="#aboutUs" ) О нас

            .header-nav__contacts.col-md-3.col-sm-4
                .form-group
                    .phone
                        <a href="tel:+7 (4012) 52 44 07"> +7 (4012) 52 44 07 </a>


            .header-nav.col-md-1.col-sm-3
                form.navbar-form.navbar-right(action="" role="search") 
                    .form-group
                        //input.form-control(placeholder="Search" type="text")
                        button.btn.btn-primary.modalCallback Оставить заявку 

main.container-fluid.wide
    section.features
        .features__wrapper
            h1 Мы специализируемся на обслуживании и ремонте пароконвекционных печей
            ul.features__slick-slider.multiple-items
                li.features__slick-slider__item
                    img(src="#", alt="")
                    //h1 Мы ремонтируем <br>пароконвекционное <br>оборудование и <br> другие устройства
                    p Наше имя говорит само за себя! <br> Мы сделаем работу, и сделаем это быстро. Неважно, что это за устройство, <br> мы отремонтируем его по справедливой цене                 
                li.features__slick-slider__item
                    img(src="#", alt="")
                    //h1 Мы специалисты по ремонту <br> больших холодильников!
                    p Наши высококвалифицированные <br>специалисты по ремонту<br> готовы все исправить.  
                li.features__slick-slider__item
                    img(src="#", alt="")
                    //h1 Более 20000 единиц промышленного оборудования <br> отремонтировано <br> с 2014 года
                    p Будьте спокойны, зная, что наши специалисты <br> отремонтировали тысячи устройств перед вашим!             
            button.btn.btn-primary.modalCallback Отремонтировать устройство

    

    section.devices.row
        h3 Сферы деятельности
        ul.devices__slider.col-sm-12
            li.devices__slider-item
                div
                    img(src="static/img/vent.png", alt="Вентиляторы")
                    p Пароконвекционные печи
            li.devices__slider-item
                div
                    img(src="static/img/ten.png", alt="тэны")
                    p Ротационные печи
            li.devices__slider-item
                div
                    img(src="static/img/gperekl.png", alt="Переключатели")
                    p Жарочные и пекарные шкафы
            li.devices__slider-item
                div
                    img(src="static/img/datchik.png", alt="Датчики")
                    p Холодильное оборудование
            li.devices__slider-item
                div
                    img(src="static/img/perekl3.png", alt="Пускатели")
                    p Прочее технологическое оборудование
            //- li.devices__slider-item
            //-     a(href="#")
            //-         img(src="static/img/klapan.png", alt="Клапаны")
            //-         p Клапаны
            //- li.devices__slider-item
            //-     a(href="#")
            //-         img(src="static/img/parokonv.svg", alt="Пароконвектоматы")
            //-         p Пароконвектоматы

    section.about.dark.row
        .about__text.col-xs-12.col-sm-12.col-md-6
            h1 Оперативный ремонт
            p Мы делаем <span class="accent"> быстрый ремонт </span>В большинстве случаев технические специалисты смогут отремонтировать ваше устройство за считанные часы. Ваше оборудование будет работать <span class="accent"> <br> в этот же день</span>.
            a(href="#").btn.btn-primary О нас
        .about__image.col-xs-12.col-sm-12.col-md-6   
            img(src="static/img/vitr1.png", alt="смартфон")

    a(id="advantages")
    section.why-we.row
        .why-we__wrapper
            h1 Почему вы выбираете нас?
            ul.why-we__list
                li.why-we__item
                    a(href="")
                        <i class="fas fa-stopwatch fa-5x"></i>
                        b.title Ремонт в тот же день            
                    p.description Когда что-то ломается, вы не хотите ждать до завтра - вам нужно, чтобы все работало уже сегодня.
                li.why-we__item
                    a(href="")
                        <i class="fas fa-piggy-bank fa-5x"></i>
                        b.title Приемлемые цены
                    p.description Оправданная ценовая политика
                li.why-we__item
                    a(href="")
                        <i class="fas fa-cubes fa-5x"></i>
                        b.title Надежная гарантия
                    p.description предлагает самую надежную гарантию на рынке.

    section.can-repair.row.dark
        h1 Какие проблемы мы можем исправить?
        ul.can-repair__list
           li.can-repair__item
                .can-repair__item__content
                   b.title Отказ техники включаться
                   hr
                br
           li.can-repair__item
                .can-repair__item__content
                   b.title Сбой температурного режима работы.
                   hr
                br
           li.can-repair__item
                .can-repair__item__content
                    b.title Отсутствие пара
                    hr
                br
           li.can-repair__item
                .can-repair__item__content
                   b.title Износ уплотнительных резинок двери пароконвектомата
                   hr
                br
           li.can-repair__item
                .can-repair__item__content
                   b.title Засорением кальцием камеры бойлера
                   hr
                br
           li.can-repair__item
                .can-repair__item__content
                   b.title И другие...
                   hr
                br              
    <a id="forBusiness"></a>            
    section.business
        .business__wrapper
            h1 Наш ремонт поможет вашему бизнесу
            p Сломанное оборудование останавливает ваше производство, что приводит к убыткам.
            p
                <span class="accent">FixTeam </span> поможет снова начать процветать.
            br
            button.btn.btn-primary.modalCallback Связаться с нами


    //- section.can-fix.row
    //-     .can-fix__wrapper
    //-         .can-fix__inner-img.col-sm-12.col-md-6
    //-             img(src="/static/img/parok.png", alt="iphone")
    //-         .can-fix__inner-text.col-sm-12.col-md-6
    //-             h1 Мы можем это исправить
    //-             p Наши цены на ремонт iPhone конкурентоспособны среди всех жителей города. Мы ремонтируем трещины на экранах для всех моделей iPhone, а также ремонтируем сломанные кнопки, динамики и камеры. Треснувший экран на вашем новом iPhone? Мы это исправим.
    //-             ul.can-fix__list
    //-                 li.can-fix__item <span class="marker">1</span> Разъем для наушников                 
    //-                 li.can-fix__item <span class="marker">2</span>Порт зарядки
    //-                 li.can-fix__item <span class="marker">3</span>кнопка Home
    //-                 li.can-fix__item <span class="marker">4</span> Боковые кнопки
    //-                 li.can-fix__item <span class="marker">5</span>Камера
    //-                 li.can-fix__item <span class="marker">6</span>Кнопка включения
    //-                 li.can-fix__item <span class="marker">7</span> Экран
    //-                 li.can-fix__item <span class="marker">8</span>аккумулятор
    //-                 li.can-fix__item <span class="marker">9</span>Не включается

    section.testimonials.row
        .testimonials__wrapper
            h1 Отзывы
            .slick-slider.multiple-items2
                .slick-slider__item
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula luctus dictum. Pellentesque sed nibh sed urna pharetra iaculis id nec neque. Pellentesque imperdiet ullamcorper nulla imperdiet volutpat. Proin tincidunt nulla non purus volutpat, non elementum urna bibendum. Fusce ipsum lacus, dapibus nec neque vel, fringilla lacinia odio. 
                    h3 Анна
                    img(src="/static/img/testi-1.jpg", alt="фото клиента")
                .slick-slider__item
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula luctus dictum. Pellentesque sed nibh sed urna pharetra iaculis id nec neque. Pellentesque imperdiet ullamcorper nulla imperdiet volutpat. Proin tincidunt nulla non purus volutpat, non elementum urna bibendum. Fusce ipsum lacus, dapibus nec neque vel, fringilla lacinia odio. 
                    h3 Елена
                    img(src="/static/img/testi-2.jpg", alt="фото клиента")
                .slick-slider__item
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula luctus dictum. Pellentesque sed nibh sed urna pharetra iaculis id nec neque. Pellentesque imperdiet ullamcorper nulla imperdiet volutpat. Proin tincidunt nulla non purus volutpat, non elementum urna bibendum. Fusce ipsum lacus, dapibus nec neque vel, fringilla lacinia odio. 
                    h3 Михаил
                    img(src="/static/img/testi-3.jpg", alt="фото клиента")
            .arrows
                


    //- section.location.row
    //-     h1.visually-hidden location
    //-     .location__map
    //-         <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A25cfcfe0e66ee8c7e584ffad2f97b8a00cf76879e5c6f7ad5a5102f63a75f255&amp;width=100%&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
    //-         article.location__address
    //-             //- h3 Название офиса
    //-             img(src="static/img/logo.png", alt="Fix-IT-Service logo")
    //-             p г.Пермь, ул. Стороителей, д.3, офис 139
    //-             button.btn.btn-success подробнее

    //- section.sell.row.dark
    //-     h2 Продать свое сломанное устройство
    //-     p Мы платим <span class="accent">лучшую цену </span> за сломанное оборудование. Если вы решили не ремонтировать свое устройство, мы с удовольствием купим его у вас.
    //-     img(src="static/img/slom.png", alt="Пароконвектоматы", style=" width: 200px ")
    //-     br    
    //-     button.btn.btn-success.modalCallback Продать свое устройство

    a(id="#aboutUs")
    section.aboutUs
        h1 Мы производим ремонт оборудования
        hr
        .aboutUs-wrapper.container 
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies
            .aboutUs-wrapper__item
                img(src="static/img/logo1.png", alt="")
                p название technologies




footer.footer.row.dark
    .footer__block-list
        .footer__block-item.col-sm-12.col-md-5
            img(src="static/img/logo.png", alt="logo")
            h4 Часы работы:
            p
                span.accent 24 x 7 
                p Без обеда и выходных
            ul.social
                li                   
                    <i class="fab fa-vk fa-3x"></i>
                    //- img(src="#", alt="VK")
                    
                li
                    <i class="fab fa-instagram fa-3x"></i>
                    //- img(src="#", alt="INST")
                li
                    <i class="fab fa-facebook fa-3x"></i>
                    //- img(src="#", alt="FACEBOOK")
        .footer__block-item.col-sm-12.col-md-5   
            h3 ссылки
            ul
                li
                    a(href="#") Домашняя 
                li
                    a(href="#advantages") Приемущества 
                li
                    a(href="#forBusiness") Ремонт для бизнеса
                li
                    a(href="#aboutUs") О нас 
                    

        .footer__block-item.col-sm-12.col-md-2        
            h3 Рем. услуги
            ul
                li
                    p Пароконвекционные печи
                li
                    p Ротационные печи
                li
                    p Жарочные и пекарные шкафы 
                li
                    p Холодильное оборудование 
                li
                    p Прочее технологическое оборудование 


        //- .footer__block-item.col-sm-12.col-md-3          
        //-     h3 Информация
        //-     ul
        //-         li
        //-             a(href="") Блог
        //-         li
        //-             a(href="") Найти нас
        //-         li
        //-             a(href="") Информация о франшизе
        //-         li
        //-             a(href="") Местоположение
        //-         li
        //-             a(href="") Для бизнеса

    .copyright
        .col-sm-12
            hr
            p изготовлено
            button.btn.btn-primary by Ericsp        


                              

include ./callback
