header.main-header
    nav.navbar.navbar-inverse.hight( role="navigation" ).dark
        .navbar-header.header-nav__menu.col-md-3.col-sm-4
            button.navbar-toggle.collapsed(data-target="#navbar-inverse", data-toggle="collapse", type="button", aria-controls="navbar", aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar 
                span.icon-bar 
                span.icon-bar
            //a.navbar-brand(href="#")
            img(src="static/img/logo.png", alt="Fix-IT-Service logo").navbar-brand

        #navbar-inverse.collapse.navbar-collapse
            ul.nav.navbar-nav.header-nav__nav.col-md-5.col-sm-8
                li.active1: a( href="#") Домашняя
                li: a( href="#about" ) Ремонты
                li: a( href="#contact" ) Контакты
                li.dropdown
                    a.dropdown-toggle(data-toggle="dropdown", href="#", role="button", aria-expanded="false") Служба сервиса 
                        span.caret
                    ul.dropdown-menu( role="menu" )
                        li: a( href="#" ) Action
                        li: a( href="#" ) Another action
                        li: a( href="#" ) Something else here
                        li.divider
                        li.dropdown-header Nav header
                        li: a( href="#" ) Separated link
                        li: a( href="#" ) One more separated link

            .header-nav__contacts.col-md-2.col-sm-6
                span.navbar-form.navbar-left(role="phone" action="") 
                    .form-group
                        p 8-999-789-55-44
                        p г.Пермь, ул Строителей 34 оф. 345  

            .header-nav__search.col-md-2.col-sm-6
                form.navbar-form.navbar-right(action="" role="search") 
                    .form-group
                        input.form-control(placeholder="Search" type="text") 

main.container-fluid.wide
    section.features.row
        .col-md-4 
            ul.features__slick-slider.multiple-items
                li.features__slick-slider__item
                    img(src="#", alt="")
                    h1 Мы ремонтируем ноутбуки, планшеты и другие гаджеты
                    p Наше имя говорит само за себя. Мы сделаем работу, и сделаем это быстро. Неважно, что это за устройство? Мы отремонтируем его по справедливой цене                 
                li.features__slick-slider__item
                    img(src="#", alt="")
                    h1 Мы специалисты по ремонту сотовых телефонов!
                    p ты уронил или сломал телефон? Наши высококвалифицированные специалисты по ремонту готовы все исправить.  
                li.features__slick-slider__item
                    img(src="#", alt="")
                    h1 Более 20000 телефонов отремонтировано с 2014 года
                    p Будьте спокойны, зная, что наши специалисты полностью сертифицированы и отремонтировали тысячи устройств перед вашим!             
            button.btn.btn-primary Отремонтировать устройство

    

    section.devices.row
        h1.visually-hidden devices
        ul.devices__slider.col-sm-12
            li.devices__slider-item
                a(href="#")
                    img(src="static/img/smartphone.svg", alt="Смартфоны")
                    p Смартфоны
            li.devices__slider-item
                a(href="#")
                    img(src="static/img/tablet-3.svg", alt="Планшеты")
                    p Планшеты
            li.devices__slider-item
                a(href="#")
                    img(src="static/img/laptop.png", alt="Ноутбуки")
                    p Ноутбуки
            li.devices__slider-item
                a(href="#")
                    img(src="static/img/pc.svg", alt="Компьютеры")
                    p Компьютеры
            li.devices__slider-item
                a(href="#")
                    img(src="static/img/watch.png", alt="Смарт-часы")
                    p Смарт-часы
            li.devices__slider-item
                a(href="#")
                    img(src="static/img/game.svg", alt="Игровые консоли")
                    p Игровые консоли
            li.devices__slider-item
                a(href="#")
                    img(src="static/img/mp3.png", alt="Плейеры")
                    p Плейеры

    section.main__about.row.dark
        .col-sm-6.col-xs-12
            h1 Вы ломаете мы делаем
            p Мы делаем быстрый ремонт телефона. В большинстве случаев технические специалисты смогут отремонтировать ваше устройство за считанные минуты. Dаш телефон бутет готов через 45 минут или меньше.
            button.btn О нас
        .col-sm-6.col-xs-12    
            //- img(src="static/img/phone_1.png", alt="смартфон")

    section.main__why-we.row
        h1 Почему вы выбираете нас?
        ul.why-we__list
            li.why-we__item
                a(href="")   
                    img(src="#", alt="секундомер")
                a(href="")
                    b.title Ремонт в тот же день
                p.description Когда ваш телефон ломается, вы не хотите ждать до завтра - вам нужно, чтобы он был исправлен сегодня.
            li.why-we__item
                a(href="")   
                    img(src="#", alt="копилка")
                a(href="")
                    b.title Гарантия низкой цены
                p.description Самая низкая ценовая политика в регионе
            li.why-we__item
                a(href="")   
                    img(src="#", alt="сертификат")
                a(href="")
                    b.title Надежная гарантия
                p.description предлагает самую надежную гарантию на рынке.

    section.can-repair
        h1 Какие проблемы мы можем исправить?
        ul.can-repair__list
           li.can-repair__item
                a(href="")
                   b.title Поврежденный дисплей
                p.description Услуги по замене треснутого экрана являются быстрыми и доступными.
                a.button(href="") Подробнее
           li.can-repair__item
                a(href="")
                   b.title Залили водой
                p.description Мы проведем диагностику, чтобы определить степень повреждения.
                a.button(href="") Подробнее
           li.can-repair__item
                a(href="")
                   b.title Плохо работает динамик
                p.description Возможно, вам потребуется ремонт или замена динамика.
                a.button(href="") Подробнее
           li.can-repair__item
                a(href="")
                   b.title Не ловит сигнал
                p.description Когда слабый сигнал или нет сигнала.
                a.button(href="") Подробнее
           li.can-repair__item
                a(href="")
                   b.title Поврежденные кнопки
                p.description Если кнопки на вашем устройстве неисправны или сломаны.
                a.button(href="") Подробнее
           li.can-repair__item
                a(href="")
                   b.title Мертвая батарея
                p.description Мы подберем и заменим вашу батарею
                a.button(href="") Подробнее

    section.business
        h1 Наш ремонт поможет вашему бизнесу
        p Сломанные и медленно работающие устройства могут снизить производительность для больших и малых компаний. FixTeam может снова начать процветать.
        button Связаться с нами

    section.can-fix
        img(src="#", alt="iphone")
        h1 Мы можем это исправить
        p Наши цены на ремонт iPhone конкурентоспособны среди всех жителей города. Мы ремонтируем трещины на экранах для всех моделей iPhone, а также ремонтируем сломанные кнопки, динамики и камеры. Треснувший экран на вашем новом iPhone? Мы это исправим.
        ul.can-fix__list
            li.can-fix__item Разъем для наушников
            li.can-fix__item Порт зарядки
            li.can-fix__item кнопка Home
            li.can-fix__item Боковые кнопки
            li.can-fix__item Камера
            li.can-fix__item Кнопка включения
            li.can-fix__item Экран
            li.can-fix__item аккумулятор
            li.can-fix__item Не включается

    section.main__testimonials
        h1 Отзывы
        ul.slider
            li.slider-item
                span
                p текст отзыва 
                h3 Имя клиента
                img(src="#", alt="фото клиента")
            
    section.main__location
        h1.visually-hidden location
        .map
        article
            h3 Название офиса
            p адрес
            button подробнее

    section.sell
        h2 Продать свое сломанное устройство
        p Мы платим лучшую цену за сломанные сотовые телефоны и планшеты. Если вы решили не ремонтировать свое устройство, мы с удовольствием купим его у вас.
        button Продать свое устройство

    section.news
        h1 Последние новости
        ul.news-list
            li.news-item
                a(href="")
                    img(src="#", alt="news-image")
                    span.date
                    span.comments
                    span.author
                h3.title Что нужно сделать перед продажей iphone
                p.description Are you planning to sell your iPhone? If yes, then read on to find out what you should do before you sell your Apple Smartphone. There is not just one thing you need to do before selling.
                button подробнее
            li.news-item
                a(href="")
                    img(src="#", alt="news-image")
                    span.datetime
                    span.comments
                    span.author
                h3.title Отключить опцию «Сохранить обычное фото» для экономии места на диске
                p.description Не хватает места для хранения? Один из способов освободить место для хранения - не сохранять обычные фотографии с функцией HDR на вашем iPhone.
                button подробнее

footer.main__footer
    ul.footer__block-list
        li.footer__block-item
            img(src="#", alt="logo")
            h4 Часы работы
            ul.social
                li
                    a(href="")
                    img(src="#", alt="VK")
                li
                    a(href="")
                    img(src="#", alt="INST")
                li
                    a(href="")
                    img(src="#", alt="FACEBOOK")
        li.footer__block-item          
            h3 Быстрые ссылки
            ul
                li
                    a(href="") Ремонты 
                li
                    a(href="") Местоположение 
                li
                    a(href="") Контакты 
                li
                    a(href="") Блог 
                li
                    a(href="") О нас 

        li.footer__block-item          
            h3 Ремонтные услуги
            ul
                li
                    a(href="") Смартфоны 
                li
                    a(href="") Планшеты 
                li
                    a(href="") Ноутбуки 
                li
                    a(href="") Компьютеры 
                li
                    a(href="") Смарт-часы 
                li
                    a(href="") Игровые консоли 

        li.footer__block-item          
            h3 Информация
            ul
                li
                    a(href="") Блог
                li
                    a(href="") Найти нас
                li
                    a(href="") Информация о франшизе
                li
                    a(href="") Местоположение
                li
                    a(href="") Для бизнеса

    hr

    p изготовлено
    button by Ericsp        


                              

