header.main-header
    nav.navbar.navbar-inverse.hight( role="navigation" ).dark
        .navbar-header.header-nav__menu.col-md-3.col-sm-4
            button.navbar-toggle.collapsed(data-target="#navbar-inverse", data-toggle="collapse", type="button", aria-controls="navbar", aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar 
                span.icon-bar 
                span.icon-bar
            //a.navbar-brand(href="#")
            img(src="static/img/logo.png", alt="Fix-IT-Service logo").navbar-brand

        #navbar-inverse.collapse.navbar-collapse
            ul.nav.navbar-nav.header-nav__nav.col-md-5.col-sm-8
                li.active1: a( href="#") Домашняя
                li: a( href="#about" ) Ремонты
                li: a( href="#contact" ) Контакты
                li.dropdown
                    a.dropdown-toggle(data-toggle="dropdown", href="#", role="button", aria-expanded="false") Служба сервиса 
                        span.caret
                    ul.dropdown-menu( role="menu" )
                        li: a( href="#" ) Action
                        li: a( href="#" ) Another action
                        li: a( href="#" ) Something else here
                        li.divider
                        li.dropdown-header Nav header
                        li: a( href="#" ) Separated link
                        li: a( href="#" ) One more separated link

            .header-nav__contacts.col-md-2.col-sm-6
                span.navbar-form.navbar-left(role="phone" action="") 
                    .form-group
                        //- p 8-999-789-55-44
                        //- p г.Пермь, ул Строителей 34 оф. 345  

            .header-nav__search.col-md-2.col-sm-6
                form.navbar-form.navbar-right(action="" role="search") 
                    .form-group
                        input.form-control(placeholder="Search" type="text") 

main.container-fluid.wide
    section.features
        .features__wrapper
            ul.features__slick-slider.multiple-items
                li.features__slick-slider__item
                    img(src="#", alt="")
                    h1 Мы ремонтируем ноутбуки,<br> планшеты и <br> другие гаджеты
                    p Наше имя говорит само за себя! <br> Мы сделаем работу, и сделаем это быстро. Неважно, что это за устройство. <br> Мы отремонтируем его по справедливой цене                 
                li.features__slick-slider__item
                    img(src="#", alt="")
                    h1 Мы специалисты по ремонту <br> сотовых телефонов!
                    p ты уронил или сломал телефон? Наши высококвалифицированные <br>специалисты по ремонту готовы все исправить.  
                li.features__slick-slider__item
                    img(src="#", alt="")
                    h1 Более 20000 телефонов <br> отремонтировано <br> с 2014 года
                    p Будьте спокойны, зная, что наши специалисты полностью сертифицированы и <br> отремонтировали тысячи устройств перед вашим!             
            button.btn.btn-primary Отремонтировать устройство

    

    section.devices.row
        h1.visually-hidden devices
        ul.devices__slider.col-sm-12
            li.devices__slider-item
                a(href="#")
                    img(src="static/img/smartphone.svg", alt="Смартфоны")
                    p Смартфоны
            li.devices__slider-item
                a(href="#")
                    img(src="static/img/tablet-3.svg", alt="Планшеты")
                    p Планшеты
            li.devices__slider-item
                a(href="#")
                    img(src="static/img/laptop.png", alt="Ноутбуки")
                    p Ноутбуки
            li.devices__slider-item
                a(href="#")
                    img(src="static/img/pc.svg", alt="Компьютеры")
                    p Компьютеры
            li.devices__slider-item
                a(href="#")
                    img(src="static/img/watch.png", alt="Смарт-часы")
                    p Смарт-часы
            li.devices__slider-item
                a(href="#")
                    img(src="static/img/game.svg", alt="Игровые консоли")
                    p Игровые консоли
            li.devices__slider-item
                a(href="#")
                    img(src="static/img/mp3.png", alt="Плейеры")
                    p Плейеры

    section.about.dark.row
        .about__text.col-xs-12.col-sm-12.col-md-6
            h1 Вы ломаете мы делаем
            p Мы делаем <span class="accent"> быстрый ремонт </span> телефона. В большинстве случаев технические специалисты смогут отремонтировать ваше устройство за считанные минуты. Dаш телефон бутет готов через <span class="accent"> 45 минут или меньше</span>.
            a(href="#").btn.btn-primary О нас
        .about__image.col-xs-12.col-sm-12.col-md-6   
            img(src="static/img/phone_1.png", alt="смартфон")

    section.why-we.row
        .why-we__wrapper
            h1 Почему вы выбираете нас?
            ul.why-we__list
                li.why-we__item
                    a(href="")
                        <i class="fas fa-stopwatch fa-5x"></i>
                        b.title Ремонт в тот же день            
                    p.description Когда ваш телефон ломается, вы не хотите ждать до завтра - вам нужно, чтобы он был исправлен сегодня.
                li.why-we__item
                    a(href="")
                        <i class="fas fa-piggy-bank fa-5x"></i>
                        b.title Гарантия низкой цены
                    p.description Самая низкая ценовая политика в регионе
                li.why-we__item
                    a(href="")
                        <i class="fas fa-cubes fa-5x"></i>
                        b.title Надежная гарантия
                    p.description предлагает самую надежную гарантию на рынке.

    section.can-repair.row.dark
        h1 Какие проблемы мы можем исправить?
        ul.can-repair__list
           li.can-repair__item
                a(href="")
                   b.title Поврежденный дисплей
                p.description Услуги по замене треснутого экрана являются быстрыми и доступными.
                a(href="").btn.btn-primary Подробнее
           li.can-repair__item
                a(href="")
                   b.title Залили водой
                p.description Мы проведем диагностику, чтобы определить степень повреждения.
                a(href="").btn.btn-primary Подробнее
           li.can-repair__item
                a(href="#")
                   b.title Плохо работает динамик
                p.description Возможно, вам потребуется ремонт или замена динамика.
                a(href="#").btn.btn-primary Подробнее
           li.can-repair__item
                a(href="#")
                   b.title Не ловит сигнал
                p.description Когда слабый сигнал или нет сигнала.
                a(href="#").btn.btn-primary Подробнее
           li.can-repair__item
                a(href="#")
                   b.title Поврежденные кнопки
                p.description Если кнопки на вашем устройстве неисправны или сломаны.
                a(href="#").btn.btn-primary Подробнее
           li.can-repair__item
                a(href="#")
                   b.title Мертвая батарея
                p.description Мы подберем и заменим вашу батарею
                a(href="#").btn.btn-primary Подробнее
                
    section.business
        .business__wrapper
            h1 Наш ремонт поможет вашему бизнесу
            p Сломанные и медленно работающие устройства могут снизить производительность для больших и малых компаний. FixTeam может снова начать процветать.
            button.btn.btn-primary Связаться с нами


    section.can-fix.row
        .can-fix__wrapper
            .can-fix__inner-img.col-sm-12.col-md-6
                img(src="/static/img/phone_2.png", alt="iphone")
            .can-fix__inner-text.col-sm-12.col-md-6
                h1 Мы можем это исправить
                p Наши цены на ремонт iPhone конкурентоспособны среди всех жителей города. Мы ремонтируем трещины на экранах для всех моделей iPhone, а также ремонтируем сломанные кнопки, динамики и камеры. Треснувший экран на вашем новом iPhone? Мы это исправим.
                ul.can-fix__list
                    li.can-fix__item <span class="marker">1</span> Разъем для наушников                 
                    li.can-fix__item <span class="marker">2</span>Порт зарядки
                    li.can-fix__item <span class="marker">3</span>кнопка Home
                    li.can-fix__item <span class="marker">4</span> Боковые кнопки
                    li.can-fix__item <span class="marker">5</span>Камера
                    li.can-fix__item <span class="marker">6</span>Кнопка включения
                    li.can-fix__item <span class="marker">7</span> Экран
                    li.can-fix__item <span class="marker">8</span>аккумулятор
                    li.can-fix__item <span class="marker">9</span>Не включается

    section.testimonials.row.dark
        .testimonials__wrapper
            h1 Отзывы
            .slick-slider.multiple-items2
                .slick-slider__item
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula luctus dictum. Pellentesque sed nibh sed urna pharetra iaculis id nec neque. Pellentesque imperdiet ullamcorper nulla imperdiet volutpat. Proin tincidunt nulla non purus volutpat, non elementum urna bibendum. Fusce ipsum lacus, dapibus nec neque vel, fringilla lacinia odio. 
                    h3 Анна
                    img(src="/static/img/testi-1.jpg", alt="фото клиента")
                .slick-slider__item
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula luctus dictum. Pellentesque sed nibh sed urna pharetra iaculis id nec neque. Pellentesque imperdiet ullamcorper nulla imperdiet volutpat. Proin tincidunt nulla non purus volutpat, non elementum urna bibendum. Fusce ipsum lacus, dapibus nec neque vel, fringilla lacinia odio. 
                    h3 Елена
                    img(src="/static/img/testi-2.jpg", alt="фото клиента")
                .slick-slider__item
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula luctus dictum. Pellentesque sed nibh sed urna pharetra iaculis id nec neque. Pellentesque imperdiet ullamcorper nulla imperdiet volutpat. Proin tincidunt nulla non purus volutpat, non elementum urna bibendum. Fusce ipsum lacus, dapibus nec neque vel, fringilla lacinia odio. 
                    h3 Михаил
                    img(src="/static/img/testi-3.jpg", alt="фото клиента")
            .arrows
                


    section.location.row
        h1.visually-hidden location
        .location__map
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A25cfcfe0e66ee8c7e584ffad2f97b8a00cf76879e5c6f7ad5a5102f63a75f255&amp;width=100%&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
            article.location__address
                //- h3 Название офиса
                img(src="static/img/logo.png", alt="Fix-IT-Service logo")
                p г.Пермь, ул. Стороителей, д.3, офис 139
                button.btn.btn-success подробнее

    section.sell.row.dark
        h2 Продать свое сломанное устройство
        p Мы платим <span class="accent">лучшую цену </span> за сломанные сотовые телефоны и планшеты. Если вы решили не ремонтировать свое устройство, мы с удовольствием купим его у вас.
        img(src="/static/img/broken_phone.png", alt="")
        br    
        button.btn.btn-success Продать свое устройство

    section.news
        h1 Последние новости
        ul.news__list
            li.news__item
                a(href="")
                    img(src="/static/img/news.png", alt="news-image")
                    span.date
                    span.comments
                    span.author
                h3.title Что нужно сделать перед продажей iphone
                p.description Are you planning to sell your iPhone? If yes, then read on to find out what you should do before you sell your Apple Smartphone. There is not just one thing you need to do before selling.
                button.btn.btn-primary подробнее
            li.news__item
                a(href="")
                    img(src="/static/img/news.png", alt="news-image")
                    span.datetime
                    span.comments
                    span.author
                h3.title Отключить опцию «Сохранить обычное фото» для экономии места на диске
                p.description Не хватает места для хранения? Один из способов освободить место для хранения - не сохранять обычные фотографии с функцией HDR на вашем iPhone.
                .div
                    button.btn.btn-primary подробнее

footer.footer.row.dark
    .footer__block-list
        .footer__block-item.col-sm-12.col-md-3
            img(src="static/img/logo.png", alt="logo")
            h4 Часы работы
            p 10:00 - 20:00
            p Без обеда и выходных
            ul.social
                li
                    a(href="http://vk.com")
                        <i class="fab fa-vk fa-3x"></i>
                    //- img(src="#", alt="VK")
                    
                li
                    a(href="")
                        <i class="fab fa-instagram fa-3x"></i>
                    //- img(src="#", alt="INST")
                li
                    a(href="")
                        <i class="fab fa-facebook fa-3x"></i>
                    //- img(src="#", alt="FACEBOOK")
        .footer__block-item.col-sm-12.col-md-3   
            h3 ссылки
            ul
                li
                    a(href="") Ремонты 
                li
                    a(href="") Местоположение 
                li
                    a(href="") Контакты 
                li
                    a(href="") Блог 
                li
                    a(href="") О нас 

        .footer__block-item.col-sm-12.col-md-3          
            h3 Рем. услуги
            ul
                li
                    a(href="") Смартфоны 
                li
                    a(href="") Планшеты 
                li
                    a(href="") Ноутбуки 
                li
                    a(href="") Компьютеры 
                li
                    a(href="") Смарт-часы 
                li
                    a(href="") Игровые консоли 

        .footer__block-item.col-sm-12.col-md-3          
            h3 Информация
            ul
                li
                    a(href="") Блог
                li
                    a(href="") Найти нас
                li
                    a(href="") Информация о франшизе
                li
                    a(href="") Местоположение
                li
                    a(href="") Для бизнеса

    .copyright
        .col-sm-12
            hr
            p изготовлено
            button.btn.btn-primary by Ericsp        


                              

