section.callback-window#modal(style="display: none")
    .modal
        .content
            h2 Позвоните нам по номеру:
            a.phone(href="tel:+7 (4012) 52 44 07") +7 (4012) 52 44 07 
            p или    
            h3.title Мы вам перезвоним
            p заполните форму, чтобы мы cмогли связаться с вами 
            a.btn.close-modal#closeModal(href="#" onclick="closeModal") close

            input(type="text", value="", placeholder="Имя")
            input(type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required placeholder="Телефон")
            br
            button.btn.btn-primary(type="submit") Отправить
