@font-face 
    font-family: GentiumPlus; /* Имя шрифта */
    src: url(../fonts/GentiumPlus.ttf) /* Путь к файлу со шрифтом */

@font-face 
    font-family: PollywogCyr; /* Имя шрифта */
    src: url(../fonts/PollywogCyr.ttf) /* Путь к файлу со шрифтом */

@font-face {
    font-family: 'PT Sans Narrow';
    src: local('PT Sans Narrow'),
	local('PTSans-Narrow'),
	url('../fonts/ptsansnarrow/ptsansnarrow.woff2') format('woff2'),
	url('../fonts/ptsansnarrow/ptsansnarrow.woff') format('woff'),
	url('../fonts/ptsansnarrow/ptsansnarrow.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans Narrow';
    src: local('PT Sans Narrow Bold'),
	local('PTSans-NarrowBold'),
	url('../fonts/ptsansnarrow/ptsansnarrowbold.woff2') format('woff2'),
	url('../fonts/ptsansnarrow/ptsansnarrowbold.woff') format('woff'),
	url('../fonts/ptsansnarrow/ptsansnarrowbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face 
    font-family: CrimsonText; /* Имя шрифта */
    src: url(../fonts/CrimsonText.ttf) /* Путь к файлу со шрифтом */
@font-face 
    font-family: ubuntu; /* Имя шрифта */
    src: url(../fonts/TovariSansBold.otf) /* Путь к файлу со шрифтом */

@font-face 
    font-family: HelveticaNeue
    src: url(../fonts/Helvetica/HelveticaNeueCondensedBlack.ttf)
    src: url(../fonts/Helvetica/HelveticaNeueCondensedBold.ttf)
    src: url(../fonts/Helvetica/HelveticaNeueCyr-Black.otf)
    src: url(../fonts/Helvetica/HelveticaNeueCyr-BlackItalic.otf)
    src: url(../fonts/Helvetica/HelveticaNeueCyr-Bold.otf)
    src: url(../fonts/Helvetica/HelveticaNeueCyr-BoldItalic.otf)
    src: url(../fonts/Helvetica/HelveticaNeueCyr-Heavy.otf)
    src: url(../fonts/Helvetica/HelveticaNeueCyr-HeavyItalic.otf)
    src: url(../fonts/Helvetica/HelveticaNeueCyr-Italic.otf)
    src: url(../fonts/Helvetica/HelveticaNeueCyr-Light.otf)
    src: url(../fonts/Helvetica/HelveticaNeueCyr-LightItalic.otf)
    src: url(../fonts/Helvetica/HelveticaNeueCyr-Medium.otf)
    src: url(../fonts/Helvetica/HelveticaNeueCyr-MediumItaicl.otf)
    src: url(../fonts/Helvetica/HelveticaNeueCyr-Roman.otf)
    src: url(../fonts/Helvetica/HelveticaNeueCyr-Thin.otf)
    src: url(../fonts/Helvetica/HelveticaNeueCyr-ThinItalic.otf)
    src: url(../fonts/Helvetica/HelveticaNeueCyr-UltraLight.otf)
    src: url(../fonts/Helvetica/HelveticaNeueCyr-UltraLightItalic.otf)


