@import "libs.styl"
@import "vars.styl"
@import "media.styl"

.wide
    padding-right 0px
    padding-left 0px
.hight
    margin-top: 0px
    margin-bottom 0px    

.header
    height 800px

.header-nav__nav
    li
        a
            color iron !important ;
    .dropdown
        li
            a
                color cape-clod !important ;



.header-nav
    &__contacts
        margin-right: 40px;
        color sushi
    &__nav
        .active1
            background-color black
            a
                color sushi !important
        li
            margin 0 8px


.header-main
    overflow hidden
    max-height 710px
    //position: relative
    &__inner
        //position: relative
        height 100vh        
        padding-top 20px
        position: relative
        background-size cover
        background-position center center
        position relative
        //background url("../img/background1.png") no-repeat
        //transform: scale(1.0)
        //transition: all .5 s ease    

    .slick-slider
        margin-top 50px
        &__item
            h1
                font-size: 4.5em
            p
                font-size: 1.5em
            button
                height 64px
                border-radius: 40px
                color shark
                background-color sushi
                border: none
                padding: 20px 50px

        padding-right 15px
        padding-left 15px
        img
            height 400px
            width 600px
            background-color gray

.header-bottom
    height 17vh
    background-color shark
    color iron  