@import "libs.styl"
@import "fonts.styl"
@import "vars.styl"
@import "media.styl"

body

    i
        vertical-align: middle;
        margin-right 10px
    li
        list-style: none
    //width: 99%;
    h1
        //font-size: 48px
    button:focus, .btn:focus      
        outline none
        box-shadow 0 0 0 3px #fff, 0 0 0 6px sushi

    a
        text-decoration: none

    a:hover, a:focus
        outline none
        color sushi

    background-color: gallery
    //color shark
    background-position: top center
    background-repeat no-repeat  

    margin: 0
    padding: 0
    text-transform: uppercase
    font-family: "PT Sans Narrow"
    //font-family: "GentiumPlus"

.accent
    color: sushi
    font-size: 27px

.row
    width 100%
    margin 0       

.visually-hidden
    position absolute
    width 1px
    height 1px
    margin -1px
    border 0
    padding 0
    clip rect(0 0 0 0)
    overflow hidden
    
.wide
    padding-right 0px
    padding-left 0px
.hight
    margin-top: 0px
    margin-bottom 0px    

.dark
    background-color shark
    color gallery

.bright
    background-color gallery
    color shark
 

.main-header
    .header-nav
        &__menu
            .navbar-brand
                padding 0

        &__contacts
            p
                margin 0    


/////////////main/////////////////////////

main
    .features-wrapper
        box-sizing: border-box
        height: auto
        //overflow: hidden;
        //height: 300px
    .features
        position relative
        min-height 60vh
        height auto
        //min-height: 600px
        background-color #F4F4F4
        background-image: url('/static/img/background1.png')
        //background-attachment: fixed
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        ul
            text-align left 
            margin-top 20%
            padding: 0 17%
        button
            margin-left 16%    

    .devices
        min-height: 200px
        //height 15vh
        background-color #F4F4F4
        &__slider
            list-style: none
            text-align center
            //border: 1px solid red
            padding 0
            margin 0

        &__slider-item
            height 100%
            margin 40px
            //border: 1px solid red
            display: inline-block
            p
                color dusty-gray
                font-size: 16px
            img 
                height: 80px
                      


    .main__about
        //min-height: 600px
        height 100%
        .left
            text-align center
            font-size: 25px
            margin-top: 50px
            padding-left 150px
            h1
                font-size 48px
                margin-bottom 25px

        .right
            text-align  center
            img 
                width 70%
                height: auto
                //float right;
                margin 30px 30px
                margin-top: 30px;


    .why-we
        background-repeat: no-repeat
        height auto
        padding 60px
                
        a
            color shark
            text-decoration: none;

        p
            color shark 

        i
            color sushi    

        &__item
            transition: all 0.2s ease;
            margin-top 40px
            &:hover, &:focus
                p
                    color shark
                    text-shadow: 0 0 .65px #333, 0 0 .65px #333; 

    .can-repair
        padding: 40px 0px
        text-align center
        a
            color gallery
            text-decoration: none;
        p
            color soft-gray
            //    
        &__list
            margin 0 auto
            padding: 0
            //  
        &__item
            border 1px solid soft-gray
            border-radius: 20px
            &:hover, &:focus
                box-shadow: 0px 8px 20px rgba(255,255,255,.5);
            margin-bottom 20px
            margin-right 20px
            margin-left 20px
            padding: 10px
            vertical-align: top;
            //    

    .business
        background: url('/static/img/background8.png')no-repeat 0 0
        background-size: cover
        background-color: gallery 
        height auto
        &__wrapper
            margin 0 auto
            width: 50%
            padding-top 10px
            padding-bottom 30px
            h1
                color shark
                padding-bottom: 40px
            p
                color shark    
                padding-bottom: 20px

        
///////////end main///////////////////



// .header
//     height 800px

// .header-nav__nav
//     li
//         a
//             color iron !important ;
//     .dropdown
//         li
//             a
//                 color cape-clod !important ;



// .header-nav
//     &__contacts
//         margin-right: 40px;
//         color sushi
//     &__nav
//         .active1
//             background-color black
//             a
//                 color sushi !important
//         li
//             margin 0 8px


// .header-main
//     overflow hidden
//     max-height 710px
//     //position: relative
//     &__inner
//         //position: relative
//         height 100vh        
//         padding-top 20px
//         position: relative
//         background-size cover
//         background-position center center
//         position relative
//         //background url("../img/background1.png") no-repeat
//         //transform: scale(1.0)
//         //transition: all .5 s ease    

//     .slick-slider
//         margin-top 50px
//         &__item
//             h1
//                 font-size: 4.5em
//             p
//                 font-size: 1.5em
//             button
//                 height 64px
//                 border-radius: 40px
//                 color shark
//                 background-color sushi
//                 border: none
//                 padding: 20px 50px

//         padding-right 15px
//         padding-left 15px
//         img
//             height 400px
//             width 600px
//             background-color gray

// .header-bottom
//     height 17vh
//     background-color shark
//     color iron  