@media (max-width: 576px)
    main
        h1
            font-size 20px !important
        .features
            //
        .why-we
            background-image none !important
            &__wrapper
                margin-left 0 !important
                text-align center
            &__list
                width 100% !important
                padding: 0
                
                    

@media (max-width: 766px)
        header
            .phone
                display: none
@media (min-width: 768px)

    header
        .phone-nav
            display: none 
    .can-repair
        //
        &__list
            //
        &__item
            position relative
            display: inline-block;
            width: 300px
            min-width 300px
            min-height 200px
            padding: 20px
            text-align center
            a
                display: block
                margin 0 auto
                width: 180px
                font-size 21px


            p    
                display: block
                margin 0 auto
                width: 180px

            .btn
                position: absolute
                bottom: 10px
                right 60px
                
                  
            //
    .business
        background: url('/static/img/background7.jpg')no-repeat 0 0 !important
        background-color: shark !important
        background-size: cover !important
        background-position: center !important
        &__wrapper
            padding-top 10% !important
            padding-bottom 10% !important
            //width: 100% !important
            text-align: left
            margin-left 15% !important
            h1
                width: 40%
                color gallery !important
            p  
                width: 40%
                color gallery !important



@media (max-width: 992px)
    footer
        text-align center
        .footer__block-list
            ul
                li
                    list-style-type: none
    
@media (min-width: 992px)
    main
        .features-wrapper
            padding-bottom 20px
        h1
            font-size 48px
        p    
            font-size 21px      


        .why-we
            &__wrapper

                //


     


// Экстрабольшие девайсы (большие десктопы, >= 1200px)
@media (min-width: 1200px)
    main

        .can-repair
            &__list
                //
                width 65%
