//colors
////////////////////// colors 1
regent-blue = #ABD8EA
Astral = #396EAE
half-baked = #7CC2C4
Edgewater = #CDE5DF
kaitoke-green = #004721

//////////////////////////////
/////////Evernote/////////////////
jungle-green = #2dbe60
rolling-stone = #7b868a
pelorous = #2facb2
matisse = #166a8f
cape-clod = #3b4446
abbey = #525e61
hit-gray = #aeb6b8
iron = #d7dcdd
porcelain = #eff2f3

//////////////////////////////////

/////////Ghost/////////////////
iron = #d7dcdd
cape-clod = #3b4446
sushi = #87AB39
shark = #212425
rolling-stone = #718087    
cornflower-blue = #5ba4e5
celery = #9fbb58
linen = #e9e8dd
//////////////////////////////////

/////////// Continental AG ////////
web-orange = #ffa500
cerulean = #00a5dc
cobalt = #004eaf
forest-green = #2db928
watercourse = #057855
red-orange = #ff2d37
black = #000000
dove-gray = #737373
dusty-gray = #969696
silver = #cdcdcd
gallery = #f0f0f0
mine-shaft = #222222


///////////////////////////////////
mine-shaft = #262626
white = #ffffff;
black = #000000;
dark-blue = #0000CD;
athens-gray = #EEF0F3;
athens-gray2 = #fbfbfb;
tundora = #4A4244;
sushi = #87AB39;
silver-chalice = #a9a9a9;
wild-sand = #f6f6f6;
silver = #cccccc
